@use '../base' as *;

/* -------------------------------- 

File#: _1_code-snippet
Title: Code Snippet
Descr: A block of preformatted text, containing computer code
Usage: codyhouse.co/license

-------------------------------- */

code {
  background-color: var(--color-bg-dark);
  font-family: monospace;
  padding: var(--space-xxxxs) var(--space-xxxs);
  border-radius: var(--radius-md);

  &::selection {
    background-color: var(--color-contrast-high);
    color: var(--color-bg);
  }
}


.code-snippet {
  background-color: var(--color-bg-dark);
  border-radius: var(--radius-md);

  code {
    background-color: transparent;
    line-height: 1.45;
    font-size: var(--text-sm);
    display: block;
    padding: var(--space-md);
    overflow-x: auto;
  }
}